---
---

body, html {
  width: 100%;
  height: 100%;
}

body {
  color: #555555;
  font-family: "Fira Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
  line-height: 2em;
}

a {
  &, &:visited {
    color: #0078c0;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
  &:hover, &:active {
    outline: 0;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
}

ul {
  padding-left: 2em;
}

hr {
  height: 0;
  border: none;
  border-bottom: 1px solid #cccccc;
}

code {
  font-family: "Source Code Pro", monospace;
  font-weight: 300;
  padding: 0px 3px;
}

pre {
  margin: 0;
}

pre code {
  padding: 0;
  overflow-x: scroll;
}

/* Utilities
 * ----------- */

.clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* Grid
 * ----------- */

.container {
  width: 800px;
  margin: 0 auto;
}

/* Landing
 * ----------- */

@mixin center-box($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $width;
  height: $height;
  margin: {
    left: $width / -2;
    top: $height / -2;
  };
}

#landing {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  cursor: default;
  header {
    position: relative;
    width: 100%;
    height: 100%;
    .container {
      @include center-box(800px, 170px);
    }
  }
  section ul {
    margin: 0 0 30px 0;
    padding: 0 0 0 20px;
    li {
      list-style: none;
    }
  }
  #blog {
    small {
      margin-left: 10px;
      font: {
        weight: 300;
        size: 0.6em;
      };
      a {
        border-bottom-width: 2px;
      }
    }
    span {
      color: #cccccc;
      font-weight: 300;
      margin-left: 10px;
    }
  }
  footer {
    border-top: 1px solid #cccccc;
    margin: 100px auto 50px;
    padding-top: 50px;
    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      li {
        list-style: none;
        display: inline-block;
        margin: 0 10px;
      }
    }
  }
}

/* Main
 * ----------- */

#main header {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  text-align: center;
  position: relative;
  #back {
    position: absolute;
    top: 0px;
    left: -70px;
  }
}

/* Article
 * ----------- */

article {
  .date {
    text-align: center;
    color: #bbbbbb;
  }
  .content {
    h3 {
      font-size: 1.6em;
    }
    img {
      display: block;
      margin: 20px auto;
    }
  }
  .share {
    margin: 100px 0 100px 100px;
    .uptolike-buttons {
      display: inline-block;
      vertical-align: middle;
    }
  }
  blockquote {
    display: block;
    margin: 1em 40px;
    font-style: italic;
    color: #aaaaaa;
  }
}

/* CV
 * ----------- */

.cv {
  footer {
    font-size: 12px;
    text-align: center;
  }

  .about {
    width: 300px;

    ul {
      li {
        margin-bottom: 20px;
      }

      span {
        display: block;
        color: #aaa;
      }
    }
  }

  .opensource {
    float: right;
  }

  #lang-stats {
    width: 400px;
    height: 400px;
    margin-bottom: 40px;

    svg {
    opacity: 1;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;

      &.shadowed {
        opacity: 0;
      }
    }
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: orange;
  }

  .solidArc {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  .x.axis path {
    display: none;
  }

  .score { 
    line-height: 1;
    font-weight: bold;
    font-size: 250%;
    cursor: default;
  }

  .score-span { 
    line-height: 1;
    font-size: 60%;
    cursor: default;
  }

  .d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    pointer-events: none;

    &:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      position: absolute;
      pointer-events: none;
    }

    &.n:after {
      content: "\25BC";
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }
  }
}

/* Languages
 * ----------- */

.lang-ruby        { fill: #701516; }
.lang-erlang      { fill: #0faf8d; }
.lang-css         { fill: #563d7c; }
.lang-lua         { fill: #fa1fa1; }
.lang-elixir      { fill: #6e4a7e; }
.lang-c           { fill: #555555; }
.lang-javascript  { fill: #f1e05a; }
.lang-makefile    { fill: #cccccc; }
.lang-shell       { fill: #5861ce; }

/* Mobile
 * ----------- */

@media screen and (max-width: 900px) {
  #landing {
    header .container {
      @include center-box(600px, 170px);
    }
    header {
      h1, h3, h4 {
        text-align: center;
      }
    }
  }
  #main {
    .container {
      width: auto;
      padding: 0 10px;
    }
    #back {
      top: -50px !important;
      left: 10px !important;
    }
  }
}

@media screen and (max-width: 800px) {
  #landing {
    .container {
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 600px) {
  #landing {
    header .container {
      @include center-box(240px, 170px);
      h3 span {
        display: block;
        height: 0;
      }
    }
  }
  article .content img {
    width: 100%;
    display: inline-block;
    margin: 0 !important;
  }
}

@media screen and (max-width: 500px) {
  #landing {
    font-size: 0.8em;
    h1 {
      font-size: 2em;
    }
  }
}
