.post
  - article = blog.articles.last
  .meta

    = article.date.strftime "%B %d, %Y"

    p
      a href="#{article.url}#comments" = "10 " + Russian.p(10, "комментарий", "комментария", "комментариев")

    ul.tags
      - article.tags.each do |tag|
        li
          a href="/tags/#{tag}" = tag

  .article
    h1.title
      a href="#{article.url}" = article.title

    == article.summary
