<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="keywords" content="ruby, rails, ruby on rails, javascript, go, golang, elixir">
  <meta name="description" content="Yuri Artemev - developer">
  <meta name="google-site-verification" content="kV0pbQhJgmKN4HYX_lWYGipG-w7cKmFleQ-4ZbkAQX0">

  <link rel="alternate" title="Yuri Artemev" type="application/rss+xml" href="/feed.xml">
  <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Fira+Sans:300,300italic,400&subset=latin,cyrillic" type="text/css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300" type="text/css">
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div id="main">
    <header class="container">
      {% if page.back %}
        <a id="back" href="{{ page.back_link }}">&larr; {{ page.back_text }}</a>
      {% endif %}

      <h1>{{ page.title }}</h1>
    </header>

    <section>
      <div class="container">
        {{ content }}
      </div>
    </section>
  </div>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-27383670-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
